
@{
    ViewBag.Title = "City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cinema net</h2>
<hr />
<br />
<h3>Cities</h3>
<hr />
<a href="/City/Create">Add a new city</a>
<table>
    <tr>
        <td><p>ID</p></td>
        <td><p>City</p></td>
        <td><p>Population</p></td>
        <td><p>Country</p></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var b in ViewBag.Cities)
    {
        <tr>
            <td><p>@b.Id</p></td>
            <td><p>@b.Name</p></td>
            <td><p>@b.Population</p></td>
            <td><p>@b.Country.Name</p></td>
            <td><p><a href="/City/Edit/@b.Id">Edit</a></p></td>
            <td><p><a href="/City/Delete/@b.Id">Delete</a></p></td>
        </tr>
    }
</table>

