
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:auto; margin-right:auto;">
    <h2>Hello young padawan of SAPR, master Mazur greets you!</h2>
    <div class="card" style="width: 35rem;margin-left: auto;margin-right: auto;">
        <img class="card-img-top" src="~/sticker.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">You have successfully decrypted the des cypher from <b>Ivanciv</b>! Keep up the good work.</p>
        </div>
    </div>
</div>

